{
  "header": true,
  "headerText": "A list of my projects that have a GitHub Pages site.",
  "hero": {
    "src": "/hero.md",
    "center": true
  },
  "display": {
    "view": "grid"
  },
  "footer": {
    "text": "",
    "includeGitCaseLink": true
  },
  "extraRepos": ["owner/repo-name"]
}
