name: Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Build for E2E Tests
      run: |
        npm run fetch-data ${{ github.repository_owner }}
        npm run build

    - name: Run Unit Tests
      run: npm test
    - name: Run Playwright tests
      run: npx playwright test
      env:
        VITE_GITHUB_ACTOR: ${{ github.actor }}
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
